.quality {

    &_standart-page {
        max-width: 1920rem;
        margin-inline: auto;
    }

    &__img {
        display: flex;
        max-width: 1400rem;
        width: 100%;
        align-items: center;
        margin: 180rem 0rem 80rem 0rem;
        margin-inline: auto;

        @include tablet {
            margin: 90rem 0rem 40rem 0rem;
        }

    }

    &__title {
        max-width: 936rem;
        margin-inline: auto;
        padding: 20rem;
    }

    &__heading2 {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 50rem;
        color: var(--dark-green-color);
        margin-bottom: 28rem;

        @include desktop-small {
            font-size: 46rem;
        }

        @include tablet {
            font-size: 36rem;
        }

        @include mobile {
            font-size: 26rem;
        }
    }

    &__paragraph {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 18rem;
        line-height: 165%;
        color: var(--black-color);
        margin-bottom: 45rem;
        margin-top: 8rem;

        @include desktop-small {
            font-size: 14rem;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 35rem;
        justify-content: space-between;
        margin-bottom: 28rem;



        @include tablet {
            flex-direction: column;
        }

        &:nth-child(even) {
            .quality-item__img {
                order: 2;
            }
        }
    }



    &__heading4 {
        margin-top: 70rem;
        font-weight: 800;
        font-size: 35rem;
        color: var(--dark-green-color);
        margin-bottom: 7rem;

    }

    &__advantages-box {
        display: flex;
        gap: 28rem;
        margin-top: 59rem;
        margin-bottom: 131rem;

        @include tablet {
            flex-direction: column;
        }
    }

    &__advantages-item {
        display: flex;
        gap: 20rem;
        justify-content: center;
        align-items: center;
        border-radius: 100rem;
        padding: 15rem 53rem 15rem 17rem;
        background: var(--low-gray-color);

        @include tablet {
            // max-width: 250rem;
            margin-inline: auto;
        }
    }

    &__advantages-number {
        font-weight: 700;
        border-radius: 100%;
        background: var(--green-color);
        padding: 15rem 20rem;
        font-size: 25rem;
    }

    &__advantages-desc {
        font-weight: 600;
        font-size: 25rem;
        color: var(--dark-green-color);
    }
}

.quality-container {

    &__title {
        font-family: var(--font-family);
        border-radius: 20rem;
        padding: 52rem 45rem;
        background: var(--gray-background-color);
        font-weight: 500;
        font-size: 25rem;
        color: var(--dark-green-color);
        max-width: 537rem;
        ;
    }
}